<p />
<h5>Formatting Help</h5>

<ul class="help">
  <li>Styles - <code>*bold*</code> &nbsp; <code>_italics_<code> &nbsp; </code>bq. (quotes)</code></li>
  <li>Links - <code>"IBM":http://www.ibm.com</code></li>
  <li>Lists - start lines with <code>*</code> (unordered) <code>#</code> (ordered)</li>
</ul>

See also the Textile reference <a href="https://textile-lang.com" target="_blank">here</a>.
Don't worry about making mistakes - after adding a reply, you can edit your message as many times as you like.
